    /*----Fonts----*/
    /*----Colours----*/
    
    .text-white {
        color: white;
    }
    /*----Alignment----*/
    
    .navbar-text {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .central {
        text-align: center;
    }
    /*----Areas----*/
    
    body {
        background-color: #007bff;
    }
    
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .areaSetup {
        border: black 1px solid;
        width: 100%;
        padding: 10px;
        margin: 0px auto;
    }
    
    #game_area {
        background-color: cornflowerblue;
        height: 90vh;
    }
    
    #score_area {
        background-color: lightblue;
        height: 58.8vh;
        margin-bottom: 10px;
    }
    
    #dev_area {
        background-color: rgb(125, 170, 216);
        height: 30vh;
    }
    /*----Card Formating----*/
    
    #game_area>div {
        /* Tidying up align ment*/
        position: relative;
        left: 9px;
        top: 10px;
        background: radial-gradient(lightblue, #007bff);
        background-size: cover;
        border: black 1px solid;
        width: 24%;
        height: 16%;
        float: left;
        margin: 1px;
        padding: 5px;
        padding-top: 14px;
        font-size: 55px;
        cursor: pointer;
        text-align: center;
        z-index: 1;
    }
    
    #game_area>span {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        font-size: 90px;
        text-align: center;
    }
    /*----Table Formatting----*/
    
    .gold {
        background-color: gold;
    }
    
    .silver {
        background-color: silver;
    }
    
    .bronze {
        background-color: orangered;
    }
    /*----Media Queries----*/
    /*Small devices (landscape phones, 576px and up)*/
    
    @media (min-width: 576px) {
        #game_area>div {
            /* Tidying up align ment*/
            position: relative;
            left: 9px;
            top: 10px;
            background: radial-gradient(black, #007bff);
            background-size: cover;
            border: black 1px solid;
            width: 24%;
            height: 16%;
            float: left;
            margin: 1px;
            padding: 5px;
            padding-top: 14px;
            font-size: 55px;
            cursor: pointer;
            text-align: center;
            z-index: 1;
        }
        #game_area>span {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            font-size: 90px;
            text-align: center;
        }
    }
    /*Tablet*/
    
    @media (min-width: 768px) {
        #game_area>div {
            /* Tidying up align ment*/
            position: relative;
            left: 9px;
            top: 10px;
            background: radial-gradient(pink, #007bff);
            background-size: cover;
            border: black 1px solid;
            width: 24%;
            height: 16%;
            float: left;
            margin: 1px;
            padding: 5px;
            padding-top: 40px;
            font-size: 45px;
            cursor: pointer;
            text-align: center;
            z-index: 1;
        }
        #game_area>span {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            font-size: 70px;
            text-align: center;
        }
    }
    /*Desktop*/
    
    @media(min-width: 992px) {
        #game_area>div {
            /* Tidying up align ment*/
            position: relative;
            left: 9px;
            top: 10px;
            background: radial-gradient(lightblue, #007bff);
            background-size: cover;
            border: black 1px solid;
            width: 24%;
            height: 16%;
            float: left;
            margin: 1px;
            padding: 5px;
            padding-top: 14px;
            font-size: 55px;
            cursor: pointer;
            text-align: center;
            z-index: 1;
        }
        #game_area>span {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            font-size: 90px;
            text-align: center;
        }
    }