    /*----Fonts----*/
    /*----Alignment----*/
    /*----Areas----*/
    
    body {
        background-color: #007bff;
    }
    
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .areaSetup {
        border: black 1px solid;
        width: 100%;
        padding: 10px;
        margin: 0px auto;
    }
    
    #game_area {
        background-color: cornflowerblue;
        height: 80vh;
    }
    
    #score_area {
        background-color: lightblue;
        height: 58.8vh;
        margin-bottom: 10px;
    }
    
    #dev_area {
        background-color: dodgerblue;
        height: 20vh;
    }
    /*----Media Queries----*/
    
    @media(min-width: 992px) {}